body {
	text-align: center;
	background: url("background_image.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: black;
	font-family: helvetica;
}
}
input {
	border: 0;
	padding: 10px;
	font-size: 18px;
}
input[type="submit"] { 
	background: lightblue;
	color: white;
}
ul {
	padding: 10px;
	background: lightblue;
}
li {
	display: inline;
	padding: 0px 10px 0px 10px;
}
