<!DOCTYPE html>
<title>Cook 'n' Code Breakfast</title>
<head>
	<!--Latest compiled and minified CSS-->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel = "stylesheet" type="text/css" href="../groupsite.css">
		<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

<div id="wrapperHeader">
 <div id="header">
  <img src="Background_image.jpg">
  <div class = "title">Breakfast
  </div>
 </div> 
</div>
</head>

<body>
<ul>

  <li><a href="breakfast.html">Breakfast</a></li>
  <li><a href="lunch.html">Lunch</a></li>
  <li><a href="dinner.html">Dinner</a><li>

</ul>
<h1>Quick & Easy Breakfast Recipes</h1></br>

</head>
<style>
background-color:yellow;
background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
</style>
<body>

<div class="row">
<div class="col-sm-4">

<img src="http://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2016/06/poached-eggs-on-avocado-feta-toast.jpg?itok=wDtrYZvZ" width="250" height="225" alt="Recipe One">

<blockquote>
<p>Poached eggs on avocado & feta toast</p>
1. Fill a large saucepan with water, add the vinegar and bring to a hard boil over a high heat. Once boiling, reduce the heat so the water is simmering, then use a spoon to swirl the water into a whirlpool. Crack in both eggs and cook for 2 1/2 mins. </br>
2. Meanwhile, in a small bowl, mash the avocado, feta, chilli flakes and lemon juice, and season well with black pepper. Toast the bread.</br>
3. Pile the avocado and feta on the toast, then put a poached egg on top of each.
<footer>Source: BBC Food</footer>
</blockquote>

</div>
<div class="col-sm-4">


<img src="http://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe_images/recipe-image-legacy-id--24503_12.jpg?itok=pfOqyVAn" width="250" height="225" alt="Recipe One">

<blockquote>
<p>Crunchy Granola</p>
1. Heat oven to 150C/fan 130C/gas 2. Mix the oil, maple syrup, honey and vanilla in a large bowl. Tip in all the remaining ingredients, except the dried fruit and coconut, and mix well.</br>
2. Tip the granola onto two baking sheets and spread evenly. Bake for 15 mins, then mix in the coconut and dried fruit, and bake for 10-15 mins more. Remove and scrape onto a flat tray to cool. Serve with cold milk or yogurt. The granola can be stored in an airtight container for up to a month.
<footer>Source: Good Food</footer>
</blockquote>
</div>
<div class="col-sm-4">


<img src="http://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/user-collections/my-colelction-image/2015/12/recipe-image-legacy-id--1273456_8.jpg?itok=g5CULmyI" width="250" height="225" alt="Pancakes">

<blockquote>
<p>Blueberry Pancakes</p>
1. Mix together all ingredients in large bowl. Beat the egg with the milk, make a well in the centre of the dry ingredients and whisk in the milk to make a thick smooth batter. Beat in the melted butter, and gently stir in half the blueberries.</br>
2. Drop a large tablespoonful of the batter per pancake into the pan. Make three or four pancakes at a time. Cook for about 3 minutes over a medium heat until small bubbles appear on the surface of each pancake, then turn and cook another 2-3 minutes until golden. 
<footer>Source: Good Food</footer>
</blockquote>
</div>
</br></br>

</div>
<div>
<blockquote>
<p>This is one of the most delicious breakfasts I have ever tasted!</p>
<footer>C&C Reviewer</footer>
</blockquote>

<blockquote>
<p>So quick and easy to make - I'm hooked!</p>
<footer>C&C Reviewer</footer>
</blockquote>

</div>
						
<div>
<input type="email" placeholder = "your email">
<input type="submit">
</div>

<div>

<p> Sign up to our mailing list to hear the latest in coooking and coding!</p>
<ul>
	<li><a href="https://twitter.com">Twitter</a></li>
	<li><a href="https://www.instagram.com">Instagram</a></li>
	<li><a href="https://uk.linkedin.com">Linkedin</a><li>

</ul>

<script>alert("Hey! Welcome to our breakfast page!")</script>
</body>
</html>
</div>
<div class="col-sm-8">


</body>
