<!DOCTYPE html>
<title>Cook 'n' Code Dinner</title>
<head>
    <!--Latest compiled and minified CSS-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel = "stylesheet" type="text/css" href="../groupsite.css">
        <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

<div id="wrapperHeader">
 <div id="header">
  <img src="Background_image.jpg">
  <div class = "title">Dinner
  </div>
 </div> 
</div>
</head>

<body>
<h1>Delicious Dinner Recipes</h1></br>

</head>
<style>
background-color:yellow;
background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
</style>
<body>

<div class="row">
<div class="col-sm-4">

<img src="lambchops.jpeg" width="250" height="225" alt="Recipe One">

<blockquote>
<p>Grilled lamb chops with inzimino</p>
1. Cut the stalks from the chard and chop roughly. Blanch both the stalks and the leaves in boiling water for about four minutes. Drain. </br>
2. Heat a tablespoon of the olive oil in a heavy pan, add the onion, garlic, celery and carrot and cook gently for 15-20 minutes until tender. Stir in the tinned tomatoes, chickpeas and pepper and cook for 10 minutes, or until thickened. Add the Swiss chard and cook for another 10 minutes.</br>
3. Place the lamb cutlets onto a heavy board, cover with cling film and gently pound out the lamb chops evenly with a rolling pin or meat mallet.</br>
4. When the chops are about 1cm/½in thick remove the cling film. Rub the lamb chops with a tablespoon of the olive oil so that they are coated, then add the rosemary, sea salt and black pepper. </br>
5. In a very hot griddle pan cook the lamb chops one minute on each side for juicy medium-rare lamb. </br>
6. Finish off by chopping a fresh red chilli with a small handful of chopped parsley, place in a small bowl with the remaining two tablespoons of olive oil. Drizzle this mixture over the lamb and serve with the inzimino alongside. </br>
<footer>Source: BBC Food</footer>
</blockquote>

</div>
<div class="col-sm-4">


<img src="cod.jpeg" width="250" height="225" alt="Recipe One">

<blockquote>
<p>Cod with lemon and capers</p>
1. Preheat the oven to 180C/350F/Gas 4. Line a baking tray with greaseproof paper.</br>
2. Dip the potato slices in the clarified butter and lay onto the lined baking tray. Sift the icing sugar over the top and cover with another piece of greaseproof paper. Place a heavy baking tray on top and bake in the oven for 10-12 minutes, or until cooked through.</br>
3. PBrush the cod pieces with oil and season with salt and freshly ground black pepper.</br>
4. Heat two tablespoons of oil in a large frying pan and fry the cod pieces for one minute on each side, or until cooked through. Remove from the pan and set aside..</br>
5. Add the remaining oil to the pan and fry the shallots for 2-3 minutes, or until softened. Add the butter and cook for 3-4 minutes, or until a pale nut-brown colour..</br>
6. Add the lemon segments, capers and parsley and remove the pan from the heat.</br>
7. To serve, divide the fish among four serving plates, spoon over the sauce and top with the potatoes..</br>
<footer>Source: Good Food</footer>
</blockquote>
</div>
<div class="col-sm-4">


<img src="chilli.jpeg" width="250" height="225" alt="Chilli">

<blockquote>
<p>Meat-free cholli con carne</p>
1. Heat the oil in a large frying pan over a medium heat. Add the onion and garlic and cook for 4-5 minutes, or until soft.</br>
2. Add the red chilli, cumin, paprika and chilli powder and cook for 1 minute. Add the soya mince and cook for 2-3 minutes.</br>
3. Add the chopped tomatoes, tomato purée, vegetable stock, peppers and carrot and bring to the boil. Reduce the heat to medium-low and simmer for 10 minutes, stirring occasionally.</br>
4. Add the kidney beans and cook for 5 minutes. Mix the cornflour with 1 tablespoon water, then add it to the pan and cook for a further 5 minutes. Stir in the coriander.</br>
5. Serve the chilli with the pitta halves, sour cream and grated cheese.</br>
<footer>Source: Good Food</footer>
</blockquote>
</div>
</br></br>

</div>
<div>
<blockquote>
<p>I always turn to C&C for the tastiest recipes!</p>
<footer>C&C Reviewer</footer>
</blockquote>

<blockquote>
<p>These recipes are so quick, easy and delicious!</p>
<footer>C&C Reviewer</footer>
</blockquote>

</div>
                        
<div>
<input type="email" placeholder = "your email">
<input type="submit">
</div>

<div>

<p> Sign up to our mailing list to hear the latest in cooking and coding!</p>
<ul>
    <li><a href="https://twitter.com">Twitter</a></li>
    <li><a href="https://www.instagram.com">Instagram</a></li>
    <li><a href="https://uk.linkedin.com">Linkedin</a><li>

</ul>
<script>alert("Enjoy these delicious dinnner recipes!")</script>
</body>
</html>
</div>
<div class="col-sm-8">


</body>