<!DOCTYPE html>
<title>Cook 'n' Code Home</title>
<head>
	<!--Latest compiled and minified CSS-->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel = "stylesheet" type="text/css" href="../groupsite.css">
		<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

<div id="wrapperHeader">
 <div id="header">
  <img src="Background_image.jpg">
  <div class = "title"> Cook 'n' Code
  </div>
 </div> 
</div>

</head>
</head>
<body>
<ul>
	<li><a href="breakfast.html">Breakfast</a></li>
	<li><a href="lunch.html">Lunch</a></li>
	<li><a href="dinner.html">Dinner</a><li>

</ul>

<div class="row">
<div class="col-sm-4">
<blockquote>
<p>Recipe One: Full English Breakfast</p>
Details of the recipe
<footer>Source: BBC Food</footer>
</blockquote>

</div>
<div class="col-sm-4">
<blockquote>
<p>Recipe Two: Something a little bit healthier</p>
Details of the recipe
<footer>Source: Jamie Oliver</footer>
</blockquote>
</div>
<div class="col-sm-4">
<blockquote>
<p>Recipe Three: Veggie Option</p>
Details of the recipe
<footer>Source: Unknown</footer>
</blockquote>
</div>
</br></br>

<div>

<blockquote>
<p>I've found all the best tips for cooking and coding in one place! Genius!</p>
<footer>Ben Clifford, 24, Web Developer</footer>
</blockquote>


<p> Sign up to our mailing list to hear the latest in cooking and coding!</p>
<input type="email" placeholder = "your email">
<input type="submit">

<script>alert("Welcome to Cook 'n' Code!")</script>
</body>
</html>