<!DOCTYPE html>
<title>Cook 'n' Code Home</title>
<head>
	<!--Latest compiled and minified CSS-->
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../groupsite.css">
</head>
<h1>Welcome to Cook 'n' Code</h1>
</head>
<body>

<ul>
	<li><a href="breakfast.html">Breakfast</a></li>
	<li><a href="lunch.html">Lunch</a></li>
	<li><a href="dinner.html">Dinner</a><li>

</ul>

<h2>Welcome to Cook 'n' Code! Sign up to recieve the latest recipes and top tips directly to your inbox!</h2> 
<p> We can't wait to share our best recipes with you!</p>
<input type="email" placeholder = "your email">
<input type="submit">
<input type="phone" placeholder="your phone number">
<input type="submit">

<script>alert("Welcome to Cook 'n' Code!")</script>
</body>
</html>