<!DOCTYPE html>
<title>Cook 'n' Code Lunch</title>
<head>
    <!--Latest compiled and minified CSS-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel = "stylesheet" type="text/css" href="../groupsite.css">
        <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

<div id="wrapperHeader">
 <div id="header">
  <img src="Background_image.jpg">
  <div class = "title">Lunch
  </div>
 </div> 
</div>
</head>

<body>
<ul>
  <li><a href="breakfast.html">Breakfast</a></li>
  <li><a href="lunch.html">Lunch</a></li>
  <li><a href="dinner.html">Dinner</a><li>

</ul>
<h1>Healthy Lunch Recipes</h1></br>

</head>
<style>
background-color:yellow;
background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
</style>
<body>

<div class="row">
<div class="col-sm-4">

<img src="Image_1_lunch.jpg" width="250" height="225" alt="Recipe One">

<blockquote>
<p>Spicy Chicken & Avocado Wraps</p>
1. Mix the chicken with the lime juice, chilli powder and garlic.</br>
2. Heat the oil in a non-stick frying pan then fry the chicken for a couple of mins -  it will cook very quickly so keep an eye on it. Meanwhile, warm the wraps following the pack instructions or, if you have a gas hob, heat them over the flame to slightly char them. Do not let them dry out or they are difficult to roll.</br>
3. Squash half an avocado onto each wrap, add the peppers to the pan to warm them through then pile onto the wraps with the chicken, and sprinkle over the coriander. Roll up, cut in half and eat with your fingers.</br>
<footer>Source: BBC Food</footer>
</blockquote>

</div>
<div class="col-sm-4">


<img src="Image_2_lunch.jpg" width="250" height="225" alt="Recipe One">


<blockquote>
<p>Steamed salmon & veg rice bowl</p>
1. In a small bowl, mix together the dressing ingredients, then set aside. Boil the rice in plenty of water and drain when just cooked, about 15 mins.</br>
2. Meanwhile, put the vegetables and fish in a large steamer in two layers. Steam the fish for 5-8 mins and the veg for 4-5 mins until cooked through. Spoon the rice into bowls and top with the steamed fish and veg. Pour some dressing over and top with the spring onions, mixed seeds and pickled ginger, if you like.</br>
<footer>Source: BBC Good Food</footer>
</blockquote>
</div>
<div class="col-sm-4">


<img src="Image_3_lunch.jpg" width="250" height="225" alt="Recipe One">

<blockquote>
1. Drizzle the courgette slices with a little olive oil. Cook on a hot griddle pan (or in a frying pan) for about 2 mins on each side until tender. Toast the ciabatta and gently rub with the cut garlic clove.</br>
2. Whisk together the lemon juice with the remaining oil and some seasoning. Spread the ciabatta with the soft goat’s cheese and top with the courgette slices, a little dressing, the lemon zest and basil. Serve with a salad, if you like.</br>
<footer>Source: Good Food</footer>
</blockquote>
</div>
</br></br>

</div>
<div>
<blockquote>
<p>Great on-the-go lunches!</p>
<footer>C&C Reviewer</footer>
</blockquote>


</div>
                        
<div>
<input type="email" placeholder = "your email">
<input type="submit">
</div>

<div>

<p> Sign up to our mailing list to hear the latest in cooking and coding!</p>
<ul>
    <li><a href="https://twitter.com">Twitter</a></li>
    <li><a href="https://www.instagram.com">Instagram</a></li>
    <li><a href="https://uk.linkedin.com">Linkedin</a><li>

</ul>


<script>alert("Enjoy these delicious dinnner recipes!")</script>
</body>
</html>
</div>
<div class="col-sm-8">


</body>