<!DOCTYPE html>
<title>Cook 'n' Code Home</title>
<head>
	<!--Latest compiled and minified CSS-->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel = "stylesheet" type="text/css" href="../groupsite.css">
		<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

<div id="wrapperHeader">
 <div id="header">
  <img src="Background_image.jpg">
  <div class = "title"> Cook 'n' Code Lunch
  </div>
 </div> 
</div>

</head>
  

 <body>
<h1>Breakfast Recipes</h1>

</head>
<style>
background-color:yellow;
background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
</style>
<body>

<div class="row">
<div class="col-sm-4">
<blockquote>
<p>Recipe One: Full English Breakfast</p>
Details of the recipe
<footer>Source: BBC Food</footer>
</blockquote>

</div>
<div class="col-sm-4">
<blockquote>
<p>Recipe Two: Something a little bit healthier</p>
Details of the recipe
<footer>Source: Jamie Oliver</footer>
</blockquote>
</div>
<div class="col-sm-4">
<blockquote>
<p>Recipe Three: Veggie Option</p>
Details of the recipe
<footer>Source: Unknown</footer>
</blockquote>
</div>
</br></br>

<div>
<blockquote>
<p>This is one fo the most delicious breakfasts I have ever tasted!</p>
<footer>C&C Reviewer</footer>
</blockquote>

<blockquote>
<p>So quick and easy to make - I'm hooked!</p>
<footer>C&C Reviewer</footer>
</blockquote>



<h2>Welcome to Cook 'n' Code! Sign up to recieve the latest recipes and top tips directly to your inbox!</h2> 
<p> Say hello!</p>
<input type="email" placeholder = "your email">
<input type="submit">
<input type="phone" placeholder="your phone number">
<input type="submit">
<ul>
	<li><a href="https://twitter.com/elspeth_lawson">Twitter</a></li>
	<li><a href="https://www.instagram.com/elspethlawson/">Instagram</a></li>
	<li><a href="https://uk.linkedin.com/in/lawsonelspeth">Linkedin</a><li>

</ul>
<script>alert("Itis Lunch Time!")</script>
</body>
</html>