<!DOCTYPE html>
<title>Cook 'n' Code Home</title>
<head>
	<!--Latest compiled and minified CSS-->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel = "stylesheet" type="text/css" href="../groupsite.css">
		 <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

<div id="wrapperHeader">
 <div id="header">
  <img src="Background_image.jpg">
  <div class = "title"> Cook 'n' Code Lunch
  </div>
 </div> 
</div>

</head>
  

 <div id = "recipes"  
    <body>
        </body>
 </div> 



<h2>Welcome to Cook 'n' Code! Sign up to recieve the latest recipes and top tips directly to your inbox!</h2> 
<p> Say hello!</p>
<input type="email" placeholder = "your email">
<input type="submit">
<input type="phone" placeholder="your phone number">
<input type="submit">
<ul>
	<li><a href="https://twitter.com/elspeth_lawson">Twitter</a></li>
	<li><a href="https://www.instagram.com/elspethlawson/">Instagram</a></li>
	<li><a href="https://uk.linkedin.com/in/lawsonelspeth">Linkedin</a><li>

</ul>
<script>alert("Itis Lunch Time!")</script>
</body>
</html>